@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: "Moret";
    src: url("../utils/Fonts/Moret.ttf");
  }
  .tech{
    @apply font-Popp flex flex-col justify-start items-start xl:text-2xl md:text-lg text-sm w-full py-1 text-left  
  }
  .tech2{
    @apply font-Popp flex flex-col justify-start items-start xl:text-2xl md:text-lg text-sm w-full py-1 text-left  text-[#1ED760]
  }
  .tech3{
    @apply font-Popp flex flex-col justify-start items-start xl:text-2xl md:text-lg text-sm w-full py-1 text-left  text-[#006097]
  }
  .feature{
    @apply font-Popp  justify-start items-start xl:text-2xl md:text-lg text-sm w-full py-1 text-left  text-white hover:scale-105 smooth
      hover:text-red-700

  }
  .feature2{
    @apply font-Popp  justify-start items-start xl:text-2xl md:text-lg text-sm w-full py-1 text-left  text-[#1ED760]
  }
  .feature3{
    @apply font-Popp  justify-start items-start xl:text-2xl md:text-lg text-sm w-full py-1 text-left  text-[#006097]
  }
  .lib { 
    @apply feature grid  grid-cols-1 sm:grid-cols-2 gap-x-0 md:gap-x-3 gap-y-3 md:gap-y-0 
  }
  .active-nav {
    @apply menu-item-container text-blue-700 font-bold border-b border-dotted border-blue-500 
  } 
  .tab-works {
    @apply border border-white rounded-full px-5 py-1 smooth duration-300 
           hover:scale-110 hover:bg-white hover:text-black hover:font-bold 
  }
  .tab-works-active {
    @apply border border-white rounded-full px-5 py-1 smooth duration-300 
           scale-110 bg-white text-black font-bold 
  }
  .acc-tech {
    @apply px-5 py-1 rounded-full font-bold border 
  }
  





  html.has-scroll-smooth {
    overflow: hidden;
  }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .has-scroll-smooth body {
    overflow: hidden;
  }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
  }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
  }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
  }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }
  
  .c-scrollbar:hover {
    transform: scaleX(1.45);
  }
  
  .c-scrollbar:hover,
  .has-scroll-scrolling .c-scrollbar,
  .has-scroll-dragging .c-scrollbar {
    opacity: 1;
  }
  
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
  }
  
  [data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
  }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
  }



body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




// transition 
.transition-container { 
  @apply h-screen z-50 w-full bg-white items-center 
  justify-center text-7xl font-Marc text-black font-bold flex 
}








// slider // 
.content {
  padding: 3rem;
  min-height: 90vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.content--auto {
  min-height: 0;
}

.content--feature {
  justify-content: flex-start;
  min-height: 0;
}

.content--fixed {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}

.content__pretitle {
  margin-top: auto;
  font-size: 1.85rem;
  color: var(--color-alt);
}

.content__pretitle::before {
  content: "\2015";
  margin-right: 0.25rem;
}

.content__title {
  font-size: 9vw;
  line-height: 0.8;
  margin: 0 0 3rem 0;
  font-weight: 400;
  max-width: 800px;
  will-change: transform;
}

.content__text {
  font-size: 2.25rem;
  font-size: clamp(1rem, 4vw, 2.25rem);
}

.content__text--right {
  align-self: flex-end;
}

.content__text--centered {
  margin: auto;
}

.content__breakout {
  margin: 0 -3rem;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 200;
  font-style: italic;
  color: #211f1b;
}

.content__breakout--big {
  font-size: 13vw;
  font-weight: 200;
}

.content__breakout--medium {
  font-size: 5vw;
}

.tiles {
  --tiles-height: 52vw;
  height: var(--tiles-height);
  position: relative;
  overflow: hidden;

  @apply font-Marc tracking-widest text-[#141414]
}
.button-1 {
  padding: 20px 30px;
}

.tiles--columns-rotated {
  --tiles-height: 180vmax;
}

.tiles--columns {
  --tiles-height: 140vh;
}

.tiles--oneline {
  --tiles-height: 50vh;
  min-height: 400px;
  margin: 10vh 0;
}

.tiles--small {
  --tiles-height: 100px;
  margin: 10vh 0 0;
}

.tiles--fixed {
  --tiles-height: 65vw;
  margin-top: 25vh;
}

.tiles--perspective {
  overflow: visible;
  perspective: 1000px;
  --tiles-height: 500px;
}

.tiles__wrap {
  width: 150%;
  --tileswrap-height: var(--tiles-height);
  height: var(--tileswrap-height);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.tiles--rotated .tiles__wrap {
  --tileswrap-height: calc(var(--tiles-height) * 1.8);
  transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
}

.tiles--columns-rotated .tiles__wrap {
  width: 150%;
  display: flex;
  transform: translate3d(-50%, -50%, 0) rotate(-22.5deg);
  left: 50%;
  top: 50%;
  align-items: center;
  justify-content: center;
}

.tiles--columns .tiles__wrap {
  width: 100%;
  display: flex;
  --tileswrap-height: calc(var(--tiles-height) * 1.4);
  transform: translate3d(0, -50%, 0);
  left: 0;
  top: 50%;
}

.tiles--perspective .tiles__wrap {
  width: 200%;
  transform: translate3d(-50%, -50%, 0) translateX(-25%) translateZ(-1200px) rotateX(75.5deg) rotateZ(12deg);
}

.tiles--fixed .tiles__wrap {
  width: 100%;
}

.tiles__line {
  display: flex;
}

.tiles--columns .tiles__line {
  width: 25%;
  padding: 0 1rem;
  display: block;
}

.tiles--columns-rotated .tiles__line {
  width: 320px;
  flex: none;
  padding: 0 1.5vw;
  display: block;
}

.tiles--columns-rotated .tiles__line:nth-child(even) {
  margin-top: -160px;
}

.tiles--oneline .tiles__line {
  height: 100%;
}

.tiles--small .tiles__line {
  height: 100%;
}

.tiles__line-img {
  --tile-margin: 2vw;
  flex: none;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc(var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
  margin: var(--tile-margin);
  background-size: cover;
  background-position: 50% 50%;

  @apply object-cover object-center
}

.tiles--perspective .tiles__line-img {
  backface-visibility: hidden;
  outline: 1px solid transparent;
  --tile-margin: 1vw;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc(16.666vw * 1.3);
}

.tiles--oneline .tiles__line-img {
  --tile-margin: 1vw;
  margin: 0 var(--tile-margin);
  width: calc(25% - var(--tile-margin) * 2);
  height: 100%;
}

.tiles--small .tiles__line-img {
  --tile-margin: 5px;
  margin: 0 var(--tile-margin);
  width: calc(12.5% - var(--tile-margin) * 2);
  height: 100%;
}

.tiles--rotated .tiles__line-img {
  --tile-margin: 1vw;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc(var(--tileswrap-height) / 5 - (4 * var(--tile-margin) / 2));
}

.tiles--columns-rotated .tiles__line-img {
  --tile-margin: 3vw 0;
  width: 100%;
  height: 400px;
}

.tiles--columns .tiles__line-img {
  --tile-margin: 2rem 0;
  width: 100%;
  height: calc(25vw * 1.3);
}

.tiles--fixed .tiles__line-img {
  --tile-margin: 10px;
  -webkit-filter: brightness(0.8);
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc(var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
}

.tiles--darker .tiles__line-img {
  opacity: 0.7;
}

.tiles__title {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  padding: 3rem;
  margin: 0;
  line-height: 0.8;
  font-weight: 700;
  font-style: normal;
}

.tiles__title--alt {
  font-size: 9vw;
  font-size: clamp(2rem, 9vw, 7.25rem);
}

.tiles__title--intro {
  padding-top: 10vh;
  align-items: flex-start;
  justify-content: flex-start;
}

.tiles__title--right {
  justify-content: flex-end;
}

.tiles__title--left {
  justify-content: flex-start;
}

.tiles__title--full {
  height: 100%;
}

.backtop {
  align-self: center;
  margin: auto 0;
  font-size: 6vw;
  cursor: pointer;
  text-decoration: none;
}

.backtop::after {
  content: "\2934";
  font-size: 3vw;
  vertical-align: top;
  margin-left: 1rem;
}









//# slider #//


// logo //

.smallwords{
  @apply text-3xl lg:text-6xl 
}


.content-item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: relative;
}

.content-item::before {
  position: absolute;
  top: 0;
  left: 0;
}

.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  @apply  smooth duration-300
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}

.link::before {
  content: '';
  /* show by default */
}

.link-leda {
  overflow: hidden;
}

.link-leda:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.link-leda::after {
  content: attr(data-text);
  height: 100%;
  top: 0;
  background: none;
  transform-origin: 100% 50%;
  transform: translate3d(150%, 0, 0);
  transition: transform 0.6s cubic-bezier(0.85,0,0.15,1);
}

.link-leda:hover::after {
  transform: translate3d(0, 0, 0);
}

.link-leda span {
    display: inline-block;
    transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
  
}

.link-leda:hover span {
    transform: translate3d(-150%, 0, 0);
}

// logo //

@layer components { 
  .homepage { 
    @apply bg-white h-full w-full px-6 py-5 overflow-hidden
  }
  .home-container{
    @apply   w-full h-full flex items-start justify-start pt-36 mt-24
  }
  .hometext-container{
    @apply  w-full py-3 px-6 lg:px-24
  }
  .smooth { 
    @apply transition ease-in-out duration-200
  }
  .menu-item-container{
    @apply font-Solata font-bold cursor-pointer
     smooth duration-300 hover:scale-125
  }
  .nav-lnk { 
    @apply hover:text-[#0D21A1] text-xl font-bold text-[#011638]
  }
  .getintouch-circle-footer {
     @apply z-40 cursor-pointer rounded-full w-[170px] bg-[#0D21A1] px-10 py-12 -mt-24 mx-24
     hover:bg-[#0D21A1]/70 smooth hover:scale-75 duration-500
 }
    .conX {
      @apply flex items-center justify-center
    }
  

// Magnetic
.magnetic-button {
  border: transparent;
  padding: 0;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;
  touch-action: none;
  
  span {
    display: inline-block;
  }
  
  &--hover {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.btn-footer-mail {
  background: #1C1D20;
  color: #EEF0F2;
  border-radius: 30px;
  padding: 20px 40px;
}
.btn-footer-phone {
  background: #1C1D20;
  color: #EEF0F2;
  border-radius: 30px;
  padding: 20px 40px;
}
.btn-footer-touch{
  background: #455CE9;
  color: #EEF0F2;
  border-radius: 30px;
  padding: 10px 20px;
}
.btn-footer-text { 
  @apply font-Hind  text-xl hover:bg-[#0D21A1] smooth duration-500 border border-[#EEF0F2] hover:scale-110
   hover:text-[#EEC643]
}
.btn-footer-text-touch { 
  @apply font-Hind  text-xl hover:bg-[#EEC643] smooth hover:scale-110 
  hover:text-[#0D21A1]
}

}


