@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inconsolata:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100vh;
  overflow-y: scroll;
}
::-webkit-scrollbar { 
  display: none;
}

@layer components { 
  .homepage { 
    @apply bg-[#EEF0F2] h-full w-full md:pb-[200px] pb-[100px] pt-24 px-6
  }
  .home-container{
    @apply  border-blue-500 w-full h-full flex items-start justify-start pt-24
  }
  .hometext-container{
    @apply  w-full py-3 px-4 
  }
  .smooth { 
    @apply transition ease-in-out duration-200
  }
  .menu-item-container{
    @apply font-Marc text-lg  px-6 py-3 cursor-pointer rounded-full
     smooth hover:bg-[#0D21A1] hover:text-[#EEC643] shadow-xl shadow-gray-400/10
      hover:shadow-blue-800/50 transition ease-in-out duration-500
  }
  .getintouch-circle-footer {
     @apply z-40 cursor-pointer rounded-full w-[170px] bg-[#0D21A1] px-10 py-12 -mt-24 mx-24
     hover:bg-[#0D21A1]/70 smooth hover:scale-75 duration-500
 }
 .btn-footer  { 
   @apply py-4 px-6 bg-[#EEF0F2] rounded-full font-Solata font-bold text-2xl cursor-pointer z-40
   hover:scale-110 smooth hover:bg-[#0D21A1]
 }

  .page-wrapper {

  
  .project-list {

    &:hover {
      .project-title {
        opacity: 0.1;
      }
  
    }
  
    .project-item {

      &:hover {
        cursor: pointer;
  
        .project-title {
          opacity: 1;
        }
      }
  
      &:last-of-type {
        margin-right: 0px;
  
        .project-title:after {
          content: "";
        }
      }
  
      .project-title {
        transition: opacity .35s cubic-bezier(.77, 0, 0.175, 1);
        z-index: 2;
        align-items:center;
      }
    }
     
  
  }

  .project-media {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    img {
      opacity: 0;
      position: absolute;
      width: auto;
      height: auto;
      max-width: 60%;
      max-height: 50%;
      object-fit: contain;
      pointer-events: none;
      &.is-active {
        opacity: 1;
      }
    }
  }
  







  }

///////////////////////////////////// slider ///////////////////////////////////////////////


.slider { 
  @apply  w-[500px] h-[500px] flex space-x-6 max-w-[200vw] rounded-xl
}












}


